
<h1> All Books</h1><br/>
<%= form_tag books_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>
<%= link_to 'Add a New Book', new_book_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>sub_title</th>
      <th>Genre</th>
      <th>Classification</th>
      <th>catagory</th>
      <th>Year</th>
    </tr>
  </thead>

<tbody>
  <% @books.each do |book| %>
    <tr>


    <td><%= link_to book.title, book_path(book) %></td>
    <td><%= book.sub_title %></td>
    <td><%= book.genre %></td>
    <td><%= book.classification %></td>
    <td><%= book.catagory %></td>
    <td><%= book.year %></td> &nbsp; &nbsp;&nbsp;
    <td><%= link_to 'Destroy', book_path(book), method: :delete, data: {confirm: 'Are you sure you want to delete?'} %> </td>
  </tr>

<% end %>
</tbody>
</table>
<br/>
